@charset "utf-8";
/*Autora: Bea Couchoud
  Fecha: 15 de enero de 2019 */
  
body {
    background: url("img/naranja2.svg") top right repeat-x;
    background-size: 30px; 
    padding: 0 70px;
    background-color: #FFF6A1; 
}
header {
    background-color: #F7A869;
}

h1 {   
    text-align: center;
    font-family: sans-serif;
    color: #fff;
    text-shadow: red 6px 0;
}
nav ul{
    background-color: #FFFD5D;
    text-align: center;
    border: 4px red solid;
    margin-bottom: -15px;
}
ul li {
    display: inline-block;
    margin-left: 100px; 
    color: orangered; 
}

#primero {
    margin-left: -350px;
}


#uno {
    background:  url("img/naranja.png") top right repeat-y, url("img/naranja.png") top left repeat-y;
    padding: 10px;
    background-size: 50px;
    
    background-color: #F7BE81;
    position: absolute;
    height: 170px;
    width: 50%;
    margin-left: 25%;
    border: 3px red solid;
    color: red;
    margin-top: 8%;
    text-align: center;
    letter-spacing: 3px;
    font-family: sans-serif;
    text-decoration-line: underline;
    z-index: 4;
}

#dos {
    background-color: #FFFF80;
    height: 170px;
    width: 40%;
    position: absolute;
    margin-top: 18%;
    border: 3px #E6E856 solid;
    color: orange;
    margin-left: 5%;
    float: left;
    letter-spacing: 3px;
    font-family: sans-serif;
    z-index: 1;
}

#tres {
    background-color: #CBFFFF;
    height: 170px;
    width: 40%;
    text-align: right;
    left: 55%;
    margin-right: 5%;
    border: 3px #A7D0D2 solid;
    color: orange;
    position: absolute;
    margin-top: 18%;
    float: right;
    font-family: sans-serif;
    z-index: 1;
}

#dos:hover, #tres:hover {
    z-index: 8;
}


ol.ventajas {
    position: absolute;
    top:83%;
    padding-top: 15px;
    width: 100%;
    height: 100px;
    background-color: #F7BE81;
    list-style-type: upper-roman;
    color: blue;
  }

address {
    background-color: yellow;
    position: absolute;
    color: orange;
    text-align: center;
    top: 99%;
    width: 100%;
    height: 25px;
  }